<div id="home" class="scrollspy">
</div>

<!-- NavBar -->

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a  class="brand-logo"><img src="assets/images/logo.png"></a>
      <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="active" href="#home">Главная</a></li>
        <li><a href="#customer">Заказчик</a></li>
        <li><a href="#services">Услуги</a></li>
        <li><a href="#our_team">Наша команда</a></li>
        <li><a href="#projects">Проекты</a></li>
        <li><a href="#partners">Партнеры</a></li>
        <li><a href="#contacts">Контакты</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="side-nav" id="mobile-demo">
    <li><a href="#home">Главная</a></li>
    <li><a href="#customer">Заказчик</a></li>
    <li><a href="#services">Услуги</a></li>
    <li><a href="#our_team">Наша команда</a></li>
    <li><a href="#projects">Проекты</a></li>
    <li><a href="#partners">Партнеры</a></li>
    <li><a href="#contacts">Контакты</a></li>
</ul>

<!-- Slider -->

<div class="slider">
  <ul class="slides" data-indicators="false">
    <li>
      <img src="assets/images/slider/img1.jpg"> 
      <div class="caption center-align">
        <h4>ОСУЩЕСТВЛЯЕМ ПРОЕКТЫ АВТОНОМНОГО ЭНЕРГОСНАБЖЕНИЯ</h4>
        <h5 class="light grey-text text-lighten-3"><a href="#services" class="waves-effect waves-light btn">ПОДРОБНЕЕ</a></h5>
      </div>
    </li>
    <li>
      <img src="assets/images/slider/img3.jpg"> 
      <div class="caption left-align">
        <h4>ЭКСПЛУАТАЦИЯ И ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ СИСТЕМ ПАРОВОДОСНАБЖЕНИЯ</h4>
        <h5 class="light grey-text text-lighten-3"><a  href="#services" class="waves-effect waves-light btn">ПОДРОБНЕЕ</a></h5>
      </div>
    </li>
    <li>
      <img src="assets/images/slider/img2.jpg"> 
      <div class="caption right-align">
        <h4>ЭКСПЛУАТАЦИЯ И ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ ЭНЕРГЕТИЧЕСКОГО ОБОРУДОВАНИЯ</h4>
        <h5 class="light grey-text text-lighten-3"><a href="#services" class="waves-effect waves-light btn">ПОДРОБНЕЕ</a></h5>
      </div>
    </li>
  </ul>
</div>


<h3 class="title center">О КОМПАНИИ</h3>

<hr/>

<br/>


<div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h5 class="center">Компания работает на рынке с 2007 года.</h5>
        <ul class="light">
          <li class="lin">
            <span class="text">
              Автономное энергоснабжение и эксплуатация энергетических комплексов на месторождениях Западной и Восточной Сибири на базе газопоршневых установок Caterpillar, Cummins, ДГУ Cummins.
            </span>
          </li>

          <p></p>

          <li class="lin">
            <span class="text" > 
              Эксплуатация электросетевого хозяйства  нефтедобывающих компаний.
            </span>
          </li>

          <p></p>

          <li class="lin"> 
            <span class="text"> 
              Эксплуатация теплоэнергетического оборудования (стационарных и передвижных котельных).
            </span>
          </li>

          <p></p>

            <li class="lin">
              <span class="text"> 
                Реализацию комплексных программ на объектах заказчиков по подготовке и использованию попутного нефтяного газа (ПНГ).
              </span>
            </li>
        </ul>

        <p></p>

        <h6>Общее обслуживание <i>250-300</i> МВт энергокомплексов.</h6>

        <p></p>

      </div>
  
      <!-- Carousel -->

      <div class="col s12 m6">
        <div class="carousel carousel-slider center " data-indicators="true">

          <div class="carousel-fixed-item center middle-indicator">
            <div class="left">
              <a href="Previo" class="movePrevCarousel middle-indicator-text  waves-light content-indicator"><i class="material-icons left  middle-indicator-text" style="color: rgb(255, 255, 255);">chevron_left</i></a>
            </div>   
            <div class="right">
              <a href="Siguiente" class=" moveNextCarousel middle-indicator-text  waves-light content-indicator"><i class="material-icons right middle-indicator-text" style="color: rgb(255, 255, 255);">chevron_right</i></a>
            </div>
          </div>

          <div class="carousel-item  white-text" >
            <img src="assets/images/section1/carousel_img3.jpg">
          </div>
          
          <div class="carousel-item  white-text" >
            <img src="assets/images/section1/carousel_img1.jpg">
          </div>
                  
          <div class="carousel-item  white-text" >
            <img src="assets/images/section1/carousel_img4.jpg">
          </div>
          
          <div class="carousel-item  white-text" >
            <img src="assets/images/section1/carousel_img2.jpg">
          </div>
        </div>
      </div>
    </div>
</div>

<div id="customer" class="scrollspy">
</div>



<h3 class="title center">ЗАКАЗЧИКИ</h3>

<hr/>

<br/>

<div class="container">
    
  <ul class="photo-stack-grid">
    <li>
        <a href="http://hm.gazprom-neft.ru/">
          <figure class="photo-stack">
            <img src="/assets/images/section2/img10.jpg" alt="picture" />
          </figure>
        </a>
    </li>

    <li>
      <a href="http://vostok.gazprom-neft.ru/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img20.jpg" alt="picture" />
        </figure>
      </a>
    </li>

    <li>
      <a href="http://nng.gazprom-neft.ru/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img3.jpg" alt="picture" />
        </figure>
      </a>
    </li>

    <li>
      <a href="http://www.gazprom.ru/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img4.png" alt="picture" />
        </figure>
      </a>
    </li>

    <li>
      <a href="http://www.sn-mng.ru/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img1.jpg" alt="picture" />
        </figure>
      </a>
    </li>

    <li>
      <a href="http://slavneft.ru/company/geography/krasnoyarsknefnegaz/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img16.jpg" alt="picture" />
        </figure>
      </a>
    </li>

    <li>
      <a href="http://www.slavneft.ru/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img17.png" alt="picture" />
        </figure>
      </a>
    </li>

    <li>
      <a href="https://www.rosneft.ru/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img15.jpg" alt="picture" />
        </figure>
      </a>
    </li>

    <li>
      <a href="https://vcng.rosneft.ru/about/Glance/OperationalStructure/Dobicha_i_razrabotka/Vostochnaja_Sibir/vcng/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img11.jpg" alt="picture" />
        </figure>
      </a>
    </li>
    <li>
      <a href="https://vsnk.rosneft.ru/about/Glance/OperationalStructure/Dobicha_i_razrabotka/Vostochnaja_Sibir/vsnk/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img21.jpg" alt="picture" />
        </figure>
      </a>
    </li>

    <li>
      <a href="http://www.russneft.ru/production/?id_company=5">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img5.jpg" alt="picture" />
        </figure>
      </a>
    </li>
    <li>
      <a href="http://www.russneft.ru/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img13.jpg" alt="picture" />
        </figure>
      </a>
    </li>
    

    <li>
      <a href="http://www.bke.ru/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img14.png" alt="picture" />
        </figure>
      </a>
    </li>

    <li>
      <a href="http://www.tomskneft.ru/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img18.jpg" alt="picture" />
        </figure>
      </a>
    </li>

    <li>
      <a href="http://www.bashneft.ru/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img2.jpg" alt="picture" />
        </figure>
      </a>
    </li>

    <li>
      <a href="http://polyus.com/ru/">
        <figure class="photo-stack">
          <img src="/assets/images/section2/img22.jpg" alt="picture" />
        </figure>
      </a>
    </li>
  </ul>
</div>

<div id="services" class="scrollspy">
</div>



<h3 class="title center">УСЛУГИ</h3>

<hr/>

<br/>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image brighten waves-effect waves-block waves-light">
          <img class="activator" src="\assets\images\section3\card_img1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Сервис<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Сервис<i class="material-icons right">close</i></span>
          <p><i class="material-icons ">check</i>эксплуатация энергооборудования;</p>
          <p><i class="material-icons ">check</i>обслуживание и модернизация дизель-генераторных станций;</p>
          <p><i class="material-icons ">check</i>эксплуатация и техническое обслуживание котельных установок;</p>
          <p><i class="material-icons ">check</i>супервайзинг строительно-монтажных работ;</p>
          <p><i class="material-icons ">check</i>энергоаудит;</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image brighten waves-effect waves-block waves-light">
          <img class="activator" src="\assets\images\section3\card_img2.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Автономное энергоснабжение<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Автономное энергоснабжение<i class="material-icons right">close</i></span>
          <p><i class="material-icons ">check</i>проектирование энергокомплекса;</p>
          <p><i class="material-icons ">check</i>мобилизация полного комплекса энергетического оборудования;</p>
          <p><i class="material-icons ">check</i>монтажные работы;</p>
          <p><i class="material-icons ">check</i>пусконаладочные работы;</p>
          <p><i class="material-icons ">check</i>эксплуатация в круглосуточном режиме;</p>     
          <p><i class="material-icons ">check</i>техническое обслуживание;</p>   
          <p><i class="material-icons ">check</i>демонтаж оборудования;</p>            
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image brighten waves-effect waves-block waves-light">
          <img class="activator" src="\assets\images\section3\card_img3.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Системы пароводоснабжения<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Системы пароводоснабжения<i class="material-icons right">close</i></span>
          <p><i class="material-icons ">check</i>эксплуатация котельных;</p>  
          <p><i class="material-icons ">check</i>техническое обслуживание котельного оборудования и тепловых сетей;</p>  
          <p><i class="material-icons ">check</i>подготовка котельного оборудования к новому сезону;</p>  
          <p><i class="material-icons ">check</i>ревизия оборудования;</p>  
          <p><i class="material-icons ">check</i>диагностика и капитальный ремонт котлов;</p>  
          <p><i class="material-icons ">check</i>консервация котельных;</p>  
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image brighten waves-effect waves-block waves-light">
          <img class="activator" src="\assets\images\section3\card_img4.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Эксплуатация и обслуживание<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Эксплуатация и обслуживание<i class="material-icons right">close</i></span>
          <p><i class="material-icons ">check</i>газопоршневые установки;</p>  
          <p><i class="material-icons ">check</i>дизель-генераторные установки;</p>  
          <p><i class="material-icons ">check</i>ТП и РУ;</p>  
          <p><i class="material-icons ">check</i>КИПиА;</p>  
          <p><i class="material-icons ">check</i>линии электропередач;</p>  
          <p><i class="material-icons ">check</i>тепловые и др. инженерные сети;</p>  
        </div>
      </div>
    </div>
  </div>
</div>

<div id="our_team" class="scrollspy">
</div>

<h3 class="title center">НАША КОМАНДА</h3>

<hr/>

<br/>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" data-caption="Винокуров Андрей Анатольевич - Генеральный директор" width="250" src="/assets/images/section4/image-2.jpg">
        </div>
        <div class="card-content">
          <b style="color: #004d40;">Винокуров Андрей Анатольевич</b><i><p>Генеральный директор</p></i>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" data-caption="Плотников Александр Александрович - Заместитель главного инженера по эксплуатации силовых установок" width="250" src="/assets/images/section4/image-1.jpg">
        </div>
        <div class="card-content">
          <b style="color: #004d40;">Плотников Александр Александрович</b><i ><p>Заместитель главного инженера по эксплуатации силовых установок</p></i>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" data-caption="Ветошкин Игорь Михайлович - Главный инженер" width="250" src="/assets/images/section4/image-3.jpg">
        </div>
        <div class="card-content">
          <b style="color: #004d40;">Ветошкин Андрей Анатольевич</b><i><p>Главный инженер</p></i>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" data-caption="Шамтиев Альфред Романович - Главный энергетик" width="250" src="/assets/images/section4/image-4.jpg">
        </div>
        <div class="card-content">
          <b style="color: #004d40;">Шамтиев Альфред Романович</b><i><p>Главный энергетик</p></i>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="projects" class="scrollspy">
</div>

<h3 class="title center">ПРОЕКТЫ</h3>

<hr/>

<br/>

<div class="container">
  <div class="slider" id="menu" >
    <ul class="slides" >
      <li>
        <img src="assets/images/projects/img1.jpg"> 
        <div class="caption center-align">
          <h4><b>УПН, Красноярский край , Эвенкийский район, Куюмбинскское месторождение</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img3.jpg"> 
        <div class="caption left-align">
          <h4><b>УПН, Красноярский край , Эвенкийский район, Куюмбинскское месторождение</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img4.jpg"> 
        <div class="caption right-align">
          <h4><b>УПН, Красноярский край , Эвенкийский район, Куюмбинскское месторождение</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img5.jpg"> 
        <div class="caption center-align">
          <h4><b>ГПЭС-11, Тюменская область, Уватский район, Протозановское месторождение</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img6.jpg"> 
        <div class="caption right-align">
          <h4><b>ГПЭС-11, Тюменская область, Уватский район, Протозановское месторождение</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img7.jpg"> 
        <div class="caption left-align">
          <h4><b>ГПЭС-11, Тюменская область, Уватский район, Протозановское месторождение</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img8.jpg"> 
        <div class="caption center-align">
          <h4><b>ГПЭС-11, Тюменская область, Уватский район, Протозановское месторождение</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img9.jpg"> 
        <div class="caption left-align">
          <h4><b>ВЭЦ-2, Красноярский край , Эвенкийский район, Юрубчено-Тохомское месторождение</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img10.jpg"> 
        <div class="caption right-align">
          <h4><b>ВЭЦ-2, Красноярский край , Эвенкийский район, Юрубчено-Тохомское месторождение</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img11.jpg"> 
        <div class="caption left-align">
          <h4><b>ВЭЦ-2, Красноярский край , Эвенкийский район, Юрубчено-Тохомское месторождение</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img12.jpg"> 
        <div class="caption center-align">
          <h4><b>КП-9</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img13.jpg"> 
        <div class="caption right-align">
          <h4><b>КП-9</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img14.jpg"> 
        <div class="caption left-align">
          <h4><b>ДНС-2 Западно-Асомкинского микро-района</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img15.jpg"> 
        <div class="caption center-align">
          <h4><b>ДНС-2 Западно-Асомкинского микро-района</b></h4>
        </div>
      </li>
      <li>
        <img src="assets/images/projects/img16.jpg"> 
        <div class="caption right-align">
          <h4><b>ДНС-2 Западно-Асомкинского микро-района</b></h4>
        </div>
      </li>
    </ul>
  </div>
</div>

<br/>

<div class="container center">
  <div class="row ">
    <div class="col s12 m3">
      <div id = "myPrevNavButton"><a class="btn white waves-effect waves-teal"><i class="material-icons" ><b>navigate_before</b></i></a></div>
    </div>
    <div class="col s12 m3">
      <div id = "myNextNavButton"><a class="btn white waves-effect waves-teal"><i class="material-icons"><b>navigate_next</b></i></a></div>
    </div>
    <div class="col s12 m3">
      <div id = "myStartNavButton"><a class="btn white waves-effect waves-teal"><i class="material-icons" ><b>play_arrow</b></i></a></div>
    </div>
    <div class="col s12 m3">
      <div id = "myPauseNavButton"><a class="btn white waves-effect waves-teal"><i class="material-icons"><b>pause</b></i></a></div>
    </div>
  </div>
</div>



<div id="partners" class="scrollspy">
</div>

<h3 class="title center">ПАРТНЕРЫ</h3>

<hr/>

<br/>

<div class="interlude container" id="customer-logos">
  <div class="hide-on-small-only">
    <div class="row center-align no-margin">
      <div class="col s6 m2">
        <a href="https://www.evraz.com/ru/">
          <img src="assets/images/logo/img6.png" title="Evraz plc">
        </a>
      </div>
      <div class="col s6 m2">
        <a href="https://www.aggreko.com/">
          <img src="assets/images/logo/aggreko-logo.png" title="Aggreko">
        </a>
      </div>
      <div class="col s6 m2">
        <a href="http://www.cummins.ru/">
          <img src="assets/images/logo/cummins-logo.png" title="Cummins Inc.">
        </a>
      </div>
      <div class="col s6 m2">
        <a href="https://www.shell.com.ru/">
          <img src="assets/images/logo/shell-logo.png" title="Royal Dutch Shell">
        </a>
      </div>
      <div class="col s6 m2">
        <a href="https://www.vost-tech.ru/">
          <img src="assets/images/logo/img19.jpg" title="Восточная Техника">
        </a>
      </div> 
      <div class="col s6 m2">
        <a href="http://www.tnk-bp.com/">
          <img src="assets/images/logo/img12.png" title="ТНК-BP">
        </a>
      </div> 
    </div>
  </div>
  <div class="hide-on-med-and-up">
    <div class="row center-align no-margin">
      <div class="col s6 m2">
        <a href="https://www.evraz.com/ru/">
          <img src="assets/images/logo/img6.png" title="Evraz plc">
        </a>
      </div>
      <div class="col s6 m2">
        <a href="https://www.aggreko.com/">
          <img src="assets/images/logo/aggreko-logo.png" title="Aggreko">
        </a>
      </div>
    </div>
    <div class="row center-align no-margin">
      <div class="col s6 m2">
        <a href="http://www.cummins.ru/">
          <img src="assets/images/logo/cummins-logo.png" title="Cummins Inc."> 
        </a>
      </div>
      <div class="col s6 m2">
        <a href="https://www.shell.com.ru/">
          <img src="assets/images/logo/shell-logo.png" title="Royal Dutch Shell">
        </a>
      </div>
    </div>
    <div class="row center-align no-margin">
      <div class="col s6 m2">
        <a href="https://www.vost-tech.ru/">
          <img src="assets/images/logo/img19.jpg" title="Восточная Техника">
        </a>
      </div> 
      <div class="col s6 m2">
        <a href="http://www.tnk-bp.com/">
          <img src="assets/images/logo/img12.png" title="ТНК-BP">
        </a>
      </div> 
    </div>
  </div>
</div>

<br/>

<footer class="page-footer teal darken-4">
  <div class="container"> 
    <div class="row">
        <h3 class="title center">КОНТАКТЫ</h3>
      <div class="col l6 s12 ">

        <ul>
          <li class="contact_text">
               <h6>Главный офис:</h6> 
          </li>
          <br/>
          <li class="contact_text">
              <i class="material-icons" style="color: rgb(204, 204, 204);">place</i>   Невский пр., 1, 401, Санкт-Петербург, Ленинградская область, 191186
         </li>
          <li class="contact_text">
              <i class="material-icons" style="color: rgb(204, 204, 204);">phone</i> +7(812) 494-07-42, 494-07-43, 494-07-45
          </li>
          <li class="contact_text">
              <i class="material-icons" style="color: rgb(204, 204, 204);">email</i> info@des-energy.ru
          </li>
          <li class="contact_text"> 
              <i class="material-icons" style="color: rgb(204, 204, 204);">date_range</i>   Пн - Пт: 8:00  - 17:00
          </li>
          <br/>
          <agm-map [latitude]="lat1" [longitude]="lng1" [zoom]="zoom1">
            <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
          </agm-map>
        </ul>
      </div>
      <div class="col s12 m5">
          <ul>
              <li class="contact_text">
                 <h6>Офис в Нижневартовске: </h6>
              </li>
              <br/>
              <li class="contact_text">
                  <i class="material-icons" style="color: rgb(204, 204, 204);">place</i>  ХМАО-Югра, г. Нижневартовск, ул. Ленина, 2П, стр.1
              </li>
              <li class="contact_text">
                  <i class="material-icons" style="color: rgb(204, 204, 204);">phone</i>  +7(3466) 67-05-81, 67-05-82
              </li>
              <li class="contact_text">
                  <i class="material-icons" style="color: rgb(204, 204, 204);">email</i>    info@des-energy.ru
              </li>
              <li class="contact_text"> 
                  <i class="material-icons" style="color: rgb(204, 204, 204);">date_range</i>      Пн - Пт: 8:00  - 17:00
              </li>
              <br/>
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </ul>
      </div>
    </div>
  </div>

<div id="contacts" class="scrollspy">
</div>

  <div class="footer-copyright">
    <div class="container center">
      <b>Copyright 2018 © ООО «Д.Э.С.» </b>
    </div>
  </div>
</footer>
