

nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 8px rgba(28,28,28,0.5);
    z-index: 711;
    position: fixed;
    left: 0px;
    right: 0px;
}

nav, ul, li, a {
    color: rgb(0,0,0);
    font-size: 14px;
    font-family: '__Raleway_5';
    font-weight: 700;

}


.brand-logo {
    height: 55px;
    padding: 3px 0;
}

.btn {
    font-size: 14px;
    font-family: '__Raleway_5';
    font-weight: 700;  
    color: rgb(255, 255, 255);
} 

h3 {
    font-family: '__Raleway_5';
    font-weight: 700;     
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
      

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;

    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    color: rgb(0, 0, 0);
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
  
.middle-indicator{
     position:absolute;
     top:50%;
}

.middle-indicator-text{
     font-size: 4.2rem;
}

a.middle-indicator-text{
      color:white !important;
}

.content-indicator{
      width: 64px;
      height: 64px;
      background: none;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px; 
}

#myPrevNavButton {
  cursor: pointer;
}

#myPrevNavButton:hover {
  cursor: pointer;
  color: #166746;
}

#myNextNavButton {
  cursor: pointer;
}

#myNextNavButton:hover {
  cursor: pointer;
  color: #166746;
}

#myStartNavButton {
  cursor: pointer;
}

#myStartNavButton:hover {
  cursor: pointer;
  color: #166746;
}

#myPauseNavButton {
  cursor: pointer;
}

#myPauseNavButton:hover {
  cursor: pointer;
  color: red;
}

.title {
    z-index: 138;
    padding: 10px 0;
    font-size: 24px;
    background-color: transparent;
    line-height: 36px;
    font-family: '__Raleway_5';
    font-weight: 700;
    margin-top: 1px;
    position: relative;
}


.lin::before {
    content: '►';
    font-family: open-sans, sans-serif;
    font-weight: 400;     
}
   
.text {
    font-size: 20px;
    background-color: transparent;
    font-family: '__Raleway_5';
    position: relative;
}

h6, h5 {
    font-size: 20px;
    font-family: '__Raleway_5';
    font-weight: 700;      
}


hr {
    width: 70%;
    color: #166746;
    border: 2px solid;
    box-shadow: 1px 1px 8px rgba(28,28,28,0.5);
}


.photo-stack-grid {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.photo-stack-grid:after {
  content: " ";
  display: table;
  clear: both;
}
.photo-stack-grid li {
  width: 46%;
  float: left;
  margin: 0 8% 2.8em 0;
}
.photo-stack-grid li:nth-child(2n) {
  margin-right: 0;
}

/* remember to clear first item in each row */
.photo-stack-grid li:nth-child(2n + 1) {
  clear: left;
}

.photo-stack-grid a {
  display: block;
  color: #333;
  text-decoration: none;
  font: 600 0.8em/1.3 "Open Sans", sans-serif;
  
}

.photo-stack {
	position: relative;
	margin: 0 4% 2em;
  display: block;
}

.photo-stack:before,
.photo-stack:after {
  content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    transform: rotate(6deg);
}
.photo-stack:after {
	transform: rotate(10deg);
  z-index: -1;
}
.photo-stack img {
	transform: rotate(0deg);
    height: 80px;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    transition: .5s;
    cursor: pointer;

}

.photo-stack img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.ie8 .photo-stack:before,
.ie8 .photo-stack:after {
	display: none;
}

@media (min-width: 620px) {
    body {
      font-size: 120%;
    }
    .photo-stack-grid li {
      width: 19%;
    }
    .photo-stack-grid li:nth-child(2n) {
      margin-right: 8%;
    }
    .photo-stack-grid li:nth-child(2n + 1) {
      clear: none;
    }
    .photo-stack-grid li:nth-child(4n) {
      margin-right: 0;
    }
    .photo-stack-grid li:nth-child(4n + 1) {
      clear: left;
    }
}

.expanding-grid {
	position: relative;
    width: 100%;
    overflow: hidden;
	.links {
		display: block;
		margin: 0 -1em;
		overflow: hidden; // Clearfix.
        padding: 1em 0;

		> li {
			box-sizing: border-box;
			float: left;
            padding: 1em;
            position: relative;
			a {
				color: #fff;
				display: block;
				font-size: 2em;
				line-height: 1;
				padding: 25% 1em;
				position: relative;
				text-align: center;
                text-decoration: none;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
    
            }
			@media only screen and (max-width: 39.99em) {
				width: 100%;
				&:nth-of-type(1n+1) {
					clear: left;
				}
			}
			@media only screen and (min-width: 40em) and (max-width: 59.99em) {
				width: percentage(1/1);
				&:nth-of-type(3n+1) {
					clear: left;
				}
			}
			@media only screen and (min-width: 60em) {
				width: percentage(1/4);
				&:nth-of-type(4n+1) {
					clear: left;
				}
			}
		}
	}
}

.brighten img {
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;}
    .brighten img:hover {
    -webkit-filter: brightness(60%);}


  agm-map {
    height: 500px;

  }

.contact_text {
    color: #ccc;
    font-size: 16px;
}

#customer-logos {

  z-index: 1;
  padding: .7rem;
}

.interlude {
  position: relative;
  padding: 3rem 2rem;
}

.interlude, .small-interlude {
  z-index: -1;

  width: 100%;
  color: #fff;
  overflow: hidden;
}

#customer-logos .row {
  display: flex;
  align-items: center;
}

#customer-logos img {
  width: 100px;
  transform: rotate(0deg);
  -o-object-fit: contain;
  object-fit: contain;
  transition: .5s;
  cursor: pointer;
}

#customer-logos img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.no-margin {
  margin: 0!important;
}

